name: on-commit

on:
  push:
    branches:
      - ci/itegration

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
    outputs:
      tested: ${{steps.testing.outputs.tested}}

    steps:
      - name: Prerun
        run: python3 -m pip install --upgrade pip setuptools wheel

      - name: Checkout
        uses: actions/checkout@v2 
        with:
          repository: efimi5/systembuilder
          token: ${{ secrets.DEV_BOT_TOKEN }}

      - name: Pytest
        id: testing
        run: |
          python3 -m pip install pytest 
          python3 -m pip install -e .
          PATH="/home/runner/.local/bin:${PATH}"
          export PATH
          for FILEPATH in $TRIGGERS;
            do 
              pytest $FILEPATH;
            done
          echo "::set-output name=tested::true"; 
        env:
          TRIGGERS: src/test/test_builder.py

      - name: Building
        run: python3 app.py

      - name: Commit status
        run: |
          git config --local user.email "aka1306@gmail.com"
          git config --local user.name "dev-bot0"
          git add status.json 
          git commit -qm "chore update status" -a

      - name: Push status
        uses: ad-m/github-push-action@master
        with: 
          github_token: ${{ secrets.DEV_BOT_TOKEN }}
          repository: efimi5/systembuilder
          branch: ci/itegration
          force: true


      # - name: Notify
      #   run: |
      #     cd chore
      #     python3 -m pip install -r requirements.txt
      #     python3 tgNotifier.py
